<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <header class="header">
        <div class="wrapper header-content">
            <!-- <a class="header__logo">На главную</a> -->
            <nav class="header__navigation">
                <ul class="navigation">
                    <li class="navigation__link"><a href="{{ url_for('index_info.index') }}">Объявления</a></li>
                    <li class="navigation__link navigation__link_active"><a href="{{ url_for('queue.queue') }}">Очередь</a></li>
                    <li class="navigation__link"><a href="{{ url_for('materials.materials') }}">Материалы</a></li>
                    <li class="navigation__link"><a href="{{ url_for('index_info.info') }}">Информация</a></li>
                    <li class="navigation__link"><a href="#" disabled>Администрация</a></li>
                </ul>
            </nav>
        </div>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
<!-- Начало блока админа -->
    {% if (current_user.is_authenticated) and (current_user.username == "admin") %}
    <div class="form-container">
        <h1 class="admin-h1">Меню администратора</h1>
        <form method="POST" action="" class="form form2">
            {{ form['register'].hidden_tag() }}
            <fieldset class="fieldset-login">
                <legend class="form__legend">Добавить редактора</legend>
                <div class="form-group">
                    {{ form['register'].username.label(class="") }}

                    {% if form['register'].username.errors %}
                        {{ form['register'].username(class="") }}
                        <div>
                            {% for error in form['register'].username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form['register'].username(class="") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form['register'].password.label(class="") }}
                    {% if form['register'].password.errors %}
                        {{ form['register'].password(class="") }}
                        <div>
                            {% for error in form['register'].password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form['register'].password(class="") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form['register'].confirm_password.label(class="") }}
                    {% if form['register'].confirm_password.errors %}
                        {{ form['register'].confirm_password(class="") }}
                        <div>
                            {% for error in form['register'].confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form['register'].confirm_password(class="") }}
                    {% endif %}
                </div>
            </fieldset>
            <div>
                {{ form['register'].submit(class="button") }}
            </div>
        </form>

        <form method="POST" action="" class="form form2">
            {{ form['subject'].hidden_tag() }}
            <fieldset class="fieldset-login">
                <legend class="form__legend">Добавить предмет</legend>
                <div class="form-group">
                    {{ form['subject'].string.label(class="") }}
                    {% if form['subject'].string.errors %}
                        {{ form['subject'].string(class="") }}
                        <div>
                            {% for error in form['subject'].string.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form['subject'].string(class="") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form['subject'].subject.label(class="") }}
                    {% if form['subject'].subject.errors %}
                        {{ form['subject'].subject(class="") }}
                        <div>
                            {% for error in form['subject'].subject.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form['subject'].subject(class="") }}
                    {% endif %}
                </div>
            </fieldset>
            <div>
                {{ form['subject'].submit(class="button") }}
            </div>
        </form>
    </div>
<!-- Начало блока старосты -->
    {% elif current_user.is_authenticated %}
    <div class="form-container">
        <h1 class="admin-h1">Меню редактора</h1>
        <form method="POST" action="" class="form form2 form3">
            {{ form['student'].hidden_tag() }}
            <fieldset class="fieldset-login">
                <legend class="form__legend">Добавить студента</legend>
                <div class="form-group">
                    {{ form['student'].student.label(class="") }}

                    {% if form['student'].student.errors %}
                        {{ form['student'].student(class="") }}
                        <div>
                            {% for error in form['student'].student.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form['student'].student(class="") }}
                    {% endif %}
                </div>
            </fieldset>
            <div>
                {{ form['student'].submit(class="button") }}
            </div>
        </form>

        <form action="" method="POST" class="form form2 form3">
            <legend class="form__legend">Выбрать предметы в новом семестре</legend>
            {{ form['subjects'].csrf_token }}
            {{ form['subjects'].subjects }}
            <div>
                {{ form['subjects'].submit(class="button") }}
            </div>
        </form>   
        <div class="buton-holder__center">
            <a class="button" href="{{ url_for('admin.new') }}">!!!Обнулить количество сданных работ!!!</a>
        </div>
    </div>
    {% endif %}
<!-- Общий блок админа и старосты     -->
    <div class="button-holder">
        <div class="buton-holder__center">
            <a class="button" href="{{ url_for('admin.logout') }}">Выйти из аккаунта</a>
        </div>
    </div>
</body>
</html>