<head>
    <!DOCTYPE html>
    <html lang="ru">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/style.css">    
</head>
<body>
    <header class="index_header">
        <div class="wrapper index_header-content">
            <nav class="index_header__navigation">
                <ul class="index_navigation">
                    <li class="index_link navigation__link navigation__link_active queue"><a href="{{ url_for('queue.queue') }}">Очередь</a></li>
                    <li class="index_link navigation__link materials"><a href="{{ url_for('materials.materials') }}">Материалы</a></li>
                    <li class="index_link navigation__link info"><a href="{{ url_for('index_info.info') }}">Информация</a></li>
                    <li class="index_link navigation__link"><a href="{{ url_for('admin.admin') }}">Администрация</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="wrapper">
        <div class="layout-2-column">
            <div class="column">
                <main class="entrance block">
                    <h1 class="entrance__header">Добро пожаловать!</h1>
                    <p class="indentation">Этот сайт посвящён различным материалам и информации, которая может помочь студенту СПБГУАП в выполнении лабораторных работ или учёбе в целом.</p>
                </main>
                <article class="about">
                    <h2>Сайт делится на 4 раздела:</h2>
                    <p class="indentation">1) Главная страница (вы находитесь на ней) <br> 2) Материалы (страница с титульниками и прочими документами) <br> 3) Очередь (страница с электронной очередью на сдачу учебных работ) <br> 4) Информация (различная учебная справочная информация)</p>
                </article>
            </div>

            <section class="news">
                <h2>Объявления</h2>
                <div class="short">
                    <p class="indentation news__p block">Приветствуем вас в версии 1.0!</p>
                    <p class="indentation news__p block">Здесь отображаются актуальные новости касательно работы сайта.</p>
                    <p class="indentation news__p block">Заходите почаще!</p>
                    <p class="indentation news__p block">До новых встреч!</p>
                    <p class="indentation news__p block">Текст для заполнения пространства.<br>Текст для заполнения пространства.<br>Текст для заполнения пространства.<br>Текст для заполнения пространства.</p>
                </div>
            </section>
        </div>
    </div>

    <footer class="footer">
        <div class="wrapper footer-content">
            <h2>По всем вопросам и/или предложениям обращайтесь по следующим ссылкам:</h3>
            <ul class="footer__ul">
                <li class="navigation__link footer_link"><a href="https://vk.com/id222746217">Вконтакте</a></li>
                <li class="navigation__link footer_link"><a href="https://t.me/miitrey">Telegram</a></li>
                <li class="navigation__link footer_link"><a href="mailto: dmitrii.koptev76@gmail.com">Email</a></li>
            </ul>
        </div>
    </footer>

</body>