<tr>
    <td>{{select[0]}}</td>
    <td>{{select[10]}}</td>
    <td>{{select[20]}}</td>
</tr>
<tr>
    <td>{{select[1]}}</td>
    <td>{{select[11]}}</td>
    <td>{{select[21]}}</td>
</tr>
<tr>
    <td>{{select[2]}}</td>
    <td>{{select[12]}}</td>
    <td>{{select[22]}}</td>
</tr>
<tr>
    <td>{{select[3]}}</td>
    <td>{{select[13]}}</td>
    <td>{{select[23]}}</td>
</tr>
<tr>
    <td>{{select[4]}}</td>
    <td>{{select[14]}}</td>
    <td>{{select[24]}}</td>
</tr>
<tr>
    <td>{{select[5]}}</td>
    <td>{{select[15]}}</td>
    <td>{{select[25]}}</td>
</tr>
<tr>
    <td>{{select[6]}}</td>
    <td>{{select[16]}}</td>
    <td>{{select[26]}}</td>
</tr>
<tr>
    <td>{{select[7]}}</td>
    <td>{{select[17]}}</td>
    <td>{{select[27]}}</td>
</tr>
<tr>
    <td>{{select[8]}}</td>
    <td>{{select[18]}}</td>
    <td>{{select[28]}}</td>
</tr>
<tr>
    <td>{{select[9]}}</td>
    <td>{{select[19]}}</td>
    <td>{{select[29]}}</td>
</tr>