.info, .materials, .queue, .materials_ul li a, .navigation__link {
  transition: all 0.3s ease-out;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  background: #282A2E;
  color: #FFFFFF;
}

h1 {
  font-family: "Comfortaa", cursive;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: normal;
  line-height: 4rem;
}

h2 {
  font-family: "Comfortaa", cursive;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 4rem;
}

h3 {
  font-family: "Comfortaa", cursive;
  font-size: 2.3rem;
  font-style: normal;
  font-weight: normal;
  line-height: 4rem;
}

h4 {
  font-family: "Comfortaa", cursive;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 4rem;
}

h5 {
  font-family: "Comfortaa", cursive;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: normal;
  line-height: 4rem;
}

p {
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 3rem;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  font-family: "Comfortaa", cursive;
}

a:hover {
  cursor: pointer;
}

.required {
  font-size: 2.5rem;
  font-family: "Comfortaa", cursive;
}

form {
  margin: 0;
}

.button {
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-style: normal;
  font-size: 1.6rem;
  /* line-height: 2.2rem; */
  background: #3B3E44;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  transition: 0.3s;
  cursor: pointer;
}

.button:hover,
.button:focus {
  border-color: #1A5B1C;
  box-shadow: inset 0 0 0 2em #1A5B1C;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1, h2, h3, h4, h5 {
  margin: 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  /* box-sizing: border-box; */
}

body {
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1280px;
  margin: auto;
  margin-top: 20px;
}

.navigation {
  display: flex;
  font-size: 1.6rem;
  width: 100%;
  justify-content: space-between;
}

.header__navigation {
  width: 100%;
  padding: 0 20px;
}

.header {
  padding: 20px 0;
  background: #1A5B1C;
  font-family: "Comfortaa", cursive;
}

.materials_header {
  background: #123F68;
}

.info_header {
  background: #7E4E2E;
}

.navigation__link {
  list-style: none;
  color: #FFFFFF;
  font-size: 2.5rem;
}

.navigation__link:hover {
  text-decoration: underline;
}

.navigation__link_active a {
  text-decoration: none;
  cursor: default;
}

.navigation__link_active:hover {
  text-decoration: none;
}

.header__logo {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}

.layout-2-column {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.block {
  border-radius: 6px;
}

.info_article {
  margin-bottom: 20px;
}

.map-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info__h2 {
  text-align: center;
}

.info__list {
  list-style-type: none;
  font-size: 2rem;
  margin: 20px 0 20px 0;
}

.info__h3 {
  background-color: #3B3E44;
  padding: 0 20px 0 20px;
}

.file-content {
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.file_empty {
  height: 0;
  margin: 0;
}

.file_open {
  height: 300px;
}

.file-container-box {
  background: #3B3E44;
  padding: 0 0 0 20px;
}

.materials_ul {
  list-style-type: disc;
  list-style-position: outside;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.materials_ul li a {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  text-decoration: underline;
}

.materials_ul li:hover a {
  background: #123F68;
  text-decoration: none;
  border-radius: 5px;
}

.study-files {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}

.index_navigation {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 4rem;
}

.index_link {
  font-size: 4rem;
  padding: 10px;
  border-radius: 10px;
}

.queue {
  text-decoration: hsl(122, 78%, 58%) underline;
}

.queue:hover {
  text-decoration: none;
  background: #1A5B1C;
}

.materials {
  text-decoration: hsl(209, 100%, 59%) underline;
}

.materials:hover {
  text-decoration: none;
  background: #123F68;
}

.info {
  text-decoration: hsl(25, 100%, 59%) underline;
}

.info:hover {
  text-decoration: none;
  background: #7E4E2E;
}

.entrance {
  padding: 20px;
  background: #3B3E44;
  text-align: justify;
  display: flex;
  flex-direction: column;
}

.entrance__header {
  margin: 20px auto 20px auto;
}

.short {
  padding: 20px;
  text-align: justify;
  overflow-y: scroll;
  height: 550px;
}

.column {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.news h2 {
  text-align: center;
}

.about h2 {
  text-align: center;
}

.about p {
  line-height: 4rem;
}

.short h2 {
  text-align: center;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #3B3E44 #282A2E;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #282A2E;
}

*::-webkit-scrollbar-thumb {
  background-color: #3B3E44;
  border-radius: 20px;
  border: 3px solid #282A2E;
}

.footer__ul {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.footer-content {
  padding: 20px;
}

.footer_link {
  text-decoration: underline;
  font-size: 2rem;
}

.indentation {
  margin-left: 20px;
  margin-right: 20px;
}

.news__p {
  background-color: #3B3E44;
  padding: 20px;
}

.news {
  padding-top: 40px;
}

.form {
  padding: 20px;
  display: grid;
}

#table__name{
  display: flex;
  justify-content: space-between;
}

.form-layout {
  display: grid;
  grid-template-columns: 1.6fr 1fr;
  gap: 20px;
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.select {
  border-radius: 5px;
  background: #282A2E;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
}

.select:disabled {
  opacity: 0.3;
}

.sel-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.select:hover {
  background: #3B3E44;
}

.article {
  padding: 20px;
  background: #3B3E44;
  text-align: justify;
}

.table {
  width: 100%;
  display: none;
  /* height: 0; */
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
}

table {
  border-radius: 5px;
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr);
}

.empty {
  height: 0;
  margin: 0;
}

.open {
  height: 452px;
  margin: 20px 0 0 0;
}

thead,
tbody,
tr {
  display: contents;
  border-radius: 5px;
}

th,
td {
  padding: 10 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  position: sticky;
  top: 0;
  background: #1A5B1C;
  text-align: left;
  font-weight: normal;
  font-size: 2rem;
}

th:last-child {
  border: 0;
}

td {
  display: flex;
  height: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #282A2E;
}

.td__block{
  display: flex;
  justify-content: space-between;
}

.td__column{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:5px;
}

.td__radio{
  /* display: flex;
  flex-direction: row; */
  display: inline;
}

tr:nth-child(even) td {
  background: #3B3E44;
}

.table-container__buttons {
  display: none;
  gap:10px;
}

.submit_file {
  display: flex;
  align-items: stretch;
}

.layout-gap-20 {
  gap: 5px;
  display: flex;
}

.radio{
  display: none;
}

.none{
  display: none;
}

.radio-label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	/* line-height: 34px; */
	border: 1px solid #FFFFFF;
	border-radius: 6px;
	user-select: none;
}
 
/* Checked */
.radio:checked + .radio-label {
	background: #1A5B1C;;
}

.admin{
  display: none
}

.admin_open{
  display: inline;
}

.user{
  display: block
}

.user_closed{
  display: none
}
 
fieldset{
  border: none;
  padding: 0;
}

.form2{
  display:flex;
  flex-direction: column;
  width: 40%;
  line-height: 2.5rem;
}

.form-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form__legend{
  font-size: 2.5rem;
  line-height: 5rem;
  font-weight: bold;
}

.button-holder{
  display: flex;
  justify-content: center;
}

.buton-holder__center{
  display: flex;
  margin-top: 20px;
}

.admin-h1{
  line-height: 10rem;
}

.form-group{
  margin-top:10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  line-height: 2rem;
}

.form_login{
  width: 30%;
}

.button-holder__center_login{
  width: 20%;
}

.form-container_login{
  height: 80vh;
}

.fieldset-login{
  margin-bottom: 10px;
}

.form3{
  width:30%;
}

.form-group-grid{
  grid-template-columns: 1fr;
}

#subjects{
  margin-bottom: 10px;
}

.change_content{
  background: blue;
  padding: 0 6px 0 6px;
}

.delete_content{
  background: red;
  padding: 0 6px 0 6px;
}

.content_changer_container{
  display: flex;
  gap: 5px;
  margin-bottom: 1px;
  margin-right: 3px;
}

.admin_buttons{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background: #3B3E44;
  gap: 20px;
  padding: 10px;
}

.what_to_change{
  font-size: 15px;
  margin: 0;
  line-height: 2rem;
}